.signupLeft1{
    background-image: url(../forgotpassword.gif);
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.resetLeft{
    background-image: url(../resetpassword.gif);
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.ForgotPwNxtBtn{
    border-radius: 80px;
    background-color:rgb(255, 72, 109);
    color: white;
    width: 150px;
    font-weight: bold;
}

